<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>豆瓣一刻</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="./public/less/main.css">
</head>
<!-- 需要添加应用模块 -->
<body ng-app="yike">
	<div class="viewport">
		<!-- 侧边导航 -->
		<div ng-class="{navs:true,collapse:collapsed}">
			<!-- 添加左侧导航栏的控制器navCon -->
			<dl ng-controller="navCon">
				<dt class="login">
					<div class="avatar">
						<img src="./public/images/avatar.png" alt="">
					</div>
					<span>登录</span>
				</dt>
				<!-- active是点击时变色,默认第一个 -->
				<!-- 后面要设置点击哪个,哪个变色 -->
				<dd ng-class="{active:key == index}" ng-repeat="(key,nav) in navs">
					<!-- 点击左侧导航栏会触发header部分一样的滑动效果 -->
					<a href={{nav.link}} class={{nav.icon}} ng-click="toggle()">
						<span>{{nav.text}}</span>
					</a>
				</dd>
			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div  ng-class="{header:true,collapse:collapsed}" ng-click="toggle()">
				<a href="javascript:;" class="menu icon-menu"></a>
				<!-- 点击对应的左侧导航,header切换对应的大标题 -->
				<!-- 在点击事件中,获取点击对象的内容 -->
				<!-- 主页时,没有任何点击事件,需要初始化一下内容 -->
				<h2>{{title}}</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>
			<!-- 主体 -->
			<div ng-class="{body:true,collapse:collapsed}">
			<!-- 加载等待总会有一个加载图片,因为是body部分加载时空白,应该在这里放入加载图片 -->
				<!-- 在浏览器中查找设置样式的文件main.css设置图片样式 -->
				<!-- 由于img有通用设置,这里需要给它一个属性名 -->
				<!-- 当加载完成需要消失,则是请求数据的地方设置 -->
				<img ng-hide="loaded" class="loading" src="./public/images/load_gif1.gif">
				<!-- <div loading ng-hide="loaded" src="public/images/load_gif (2).gif"><div> -->
				<div ng-view></div>
			</div>
		</div>
	</div>
	<!-- <script src="./public/libs/toggle.js"></script> -->
	<!-- 项目使用AngularJs开发,要引入文件 -->
	<!-- html页面作为一个主页面,其余数据都是通过路由匹配填充视图 -->
	<script type="text/javascript" src="./public/libs/angular.min.js"></script>
	<script type="text/javascript" src="./public/libs/angular-route.js"></script>
	<script type="text/javascript" src="./scripts/app.js"></script>
	<!-- 存放所有控制器的js文件 -->
	<script type="text/javascript" src="./scripts/controllers.js"></script>
</body>
</html>