<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div class="item">
        <!-- 日期分类 -->
        <div class="mark">喜欢（2）</div>
        <ul class="posts">
            <!-- 文章 -->
            <li>
                <span href="javascript:;" class="tag">去远方</span>
                <div class="cont">
                    <h3>朝圣山南扎央宗--探索藏文化之源</h3>
                    <div class="brief">
                        <div class="gallery">
                            <div class="img-box">
                                <img src="./uploads/post_3.png" alt="">
                            </div>
                            <div class="img-box">
                                <img src="./uploads/post_4.png" alt="">
                            </div>
                            <div class="img-box">
                                <img src="./uploads/post_5.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <span href="javascript:;" class="tag">看电影</span>
                <div class="cont">
                    <h3>一年之后，重新纪念阿巴斯</h3>
                    <div class="brief">
                        <p>在阿巴斯看来，自己最好的作品始终是那些在祖国伊朗拍摄的。遗憾的是，世界的阿巴斯，临终也回不去自己的故乡。</p>
                        <div class="thumb">
                            <img src="./uploads/post_1.png" alt="">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>
